@charset "UTF-8";



*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #138CD3, #1076B1);
}

main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgb(36, 37, 45);
    width: 600px;
    padding: 10 px;
    margin: auto;
}

h1 { color: #07324B;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(66, 58, 229);

}

h2 {
    color: #0A486D;
}


p {
text-align: justify;
}
