@charset "UTF-8";


body {
    background-color:rgb(162, 231, 145);
    font-family: Arial, Helvetica, sans-serif;


}

h1 {
    color: rgb(44, 150, 18);


}

h2 {
    color: rgb(55, 185, 23);
}


h1#principal {
    text-align: center;
    background-color: #008000;
    color: white;
}

p {
    text-indent: 20px;
    text-align: justify;
}

.basico{
color:#008000 ;
}

.intermediario {
color:#bfe70d ;
}

.avancado {
color:#800000 ;
}

.destaque {
    background-color: rgb(198, 198, 32);;

}